{% load static %}
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create A Book Review</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "book-review.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>My Book Reviews</h1>
    <br>
    <nav>
      <a href="{% url "reviews_list" %}">Back to list</a>
    </nav>
  </header>
  <main>
    <div class="book-review-form">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button>Submit</button>
        </div>
      </form>
    </div>
  </main>
  <footer>
    <div>
      <br>
      Copyright 2022 by Ethan Williams
    </div>
    <p>
      This is my site that contains all of my book reviews that you can read to see if you'd like that book.
    </p>
  </footer>
</body>

</html>