{% load static %}
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Book Reviews</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "book-review.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>My Book Reviews</h1>
    <br>
    <nav>
      <a href="{% url "create_review" %}">Create a review</a>

    </nav>
  </header>
  <main>
    <br>
    {% for review in reviews %}
    <div class="main-page-book-review">
      <img class="book-cover" src="{{ review.cover_image }}">
      <h2 class="book-title">
        <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
      </h2>
      <div class="book-rating">{{ review.rating }} stars</div>
      <h3 style="color: rgb(3, 19, 72);">Author</h3>
      <div class="book-authors">
        {{ review.authors }}
      </div>
      <h3 style="color: rgb(3, 19, 72);">Summary</h3>
      <p>
        {{ review.summary }}
      </p>
    </div>
    {% endfor %}
  </main>
  <footer>
    <div>Copyright 2022 by Ethan Williams</div>
    <p>This is my site that contains all of my book reviews that you can read to see if you'd like that book.</p>
  </footer>

</body>

</html>